
/* Estilo visual de la estructura */

body {

    font-family: 'Montserrat';
    color: white;

}
 
.body {

    background-image: url("hoseok-bg.jpg");
    background-size: 100%;
    background-attachment: fixed;

}

header {
    
    display: flex;
    justify-content: space-between;    

    margin: 0;
    padding: 4vh 4vh 3vh;
    display: flex;

    background-color: #119bad;
    
    font-family: 'League Spartan';
    font-size: 4vh;
}

.content {

    background-color: #8f7193;
    margin: 8vh;
    padding: 32px;
    
}

.sidebar {

    background-color: #8f7193;
    padding: 4vh;

}

footer {

    background-color: #119bad;
    padding: 2vh;

}

/* Estilo visual de elementos */

.logo {

    height: 4vh;
    margin-left: 4px;
    
}

.title-info-wrap {

    display: flex;
    flex: 0 1 auto;
    align-items: center;

}

.title-wrap {

    display: flex;
    flex: 1 0 auto;
    border-right: 2px solid white;
    padding-right: 8px;
    align-items: center;

}

.info-wrap {

    margin-left: 8px;
    font-family: 'Montserrat';
    font-size: medium;
    font-weight: light;

}

.content-image {

    width: 48vh;
    float: left;
    margin: 0 1vh 1vh 0;

}

.content-text, .sidebar-text {

    text-align: justify;

}

.sidebar-image {

    width: 24vh;

}

.sidebar-element-wrap {

    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;

}